<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>week1</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
      crossorigin="anonymous"
    />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="./scss/all.css" />
  </head>
  <body>
    <div id="app">
      <h1 class="text-center py-5">甜點商店後台</h1>
      <div class="container">
        <table class="table align-middle">
          <thead>
            <tr>
              <th scope="col">產品名稱</th>
              <th scope="col">原價</th>
              <th scope="col">售價</th>
              <th scope="col">是否啟用</th>
              <th scope="col">查看細節</th>
            </tr>
          </thead>
          <tbody>
            <template v-for="product in products" :key="product.id">
              <tr>
                <th scope="row">{{ product.title }}</th>
                <td>NT ${{ product.origin_price }}</td>
                <td>NT ${{ product.price }}</td>
                <td>
                  <a href="#" class="btn" :class="{'btn-success': product.isAvailable, 'btn-light': !product.isAvailable }" @click.prevent="changeAvailable(product.id)"
                    >{{product.isAvailable ? '啟用':'不啟用'}}</a
                  >
                </td>
                <td>
                  <a
                    href="#"
                    class="btn btn-primary"
                    @click.prevent="openModal(product)"
                    >查看細節</a
                  >
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
<div></div>
      <!-- Modal -->
      <div class="backdrop" v-if="showModal">
        <div class="modalContent">
          <div class="modal-content">
            <div
              class="modal-header position-sticky top-0 border-0 bg-white"
              style="z-index: 1080"
            >
                <button
                type="button"
                class="btn-close invisible"
            ></button>
              <h5 class="modal-title">{{temp.title}}</h5>
              <button
                type="button"
                class="btn-close"
                @click.prevent="toggleModel"
              ></button>
            </div>
            <div class="modal-body text-break">
                <div class="row mb-4">
                    <div class="col-9">
                        <div class="ratio-1x1">
                            <img :src="temp.imageUrl" alt="cake img" class="img h-1 mb-2" />
                        </div>
                    </div>
                    <div class="col-3 my-auto">
                        <div class="ratio-1x1 w-100" v-for="img in temp.imagesUrl" :key="img">
                            <img :src="img" alt="cake img" class="img h-2 mb-2" />
                        </div>
                    </div>
                </div>
                <ul>
                    <li class="d-flex align-items-start mb-3">
                        <span class="badge bg-warning fs-6 me-3">{{ temp.category }}</span> 
                        <p class="mb-0 pe-5">{{ temp.description }}</p>
                    </li>
                    <li class="d-flex">
                        <span class="material-icons-outlined me-3">
                        cake
                        </span>
                        <p>{{ temp.content }}</p>
                    </li>
                    <li class="d-flex">
                        <span class="material-icons-outlined me-3">
                        local_offer
                        </span>
                        <p class="">NT <span class="text-decoration-line-through">${{ temp.origin_price }}</span> <span class="text-danger">${{temp.price}}</span> / {{temp.unit}}</p>
                    </li>
                    <li class="d-flex" :class="{'text-danger': !temp.is_enabled>=1}">
                        <span class="material-icons-outlined me-3">
                            shopping_cart
                        </span>
                        <p v-if="temp.is_enabled >= 1">剩下 {{ temp.is_enabled }} / {{ temp.num }} {{temp.unit}} 可販售</p>
                        <p v-else>沒有庫存囉！目前尚有 {{temp.num}} {{temp.unit}} 未出貨</p>
                    </li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="module">
      import { createApp } from "https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.26/vue.esm-browser.min.js";

      // app => Vue 實體
      const app = createApp({
        data() {
          return {
            products: [
              {
                category: "甜甜圈",
                content: "尺寸：14x14cm",
                description:
                  "濃郁的草莓風味，中心填入滑順不膩口的卡士達內餡，帶來滿滿幸福感！",
                id: "-L9tH8jxVb2Ka_DYPwng",
                is_enabled: 1,
                origin_price: 150,
                price: 99,
                title: "草莓莓果夾心圈",
                unit: "個",
                num: 10,
                imageUrl:
                  "https://images.unsplash.com/photo-1583182332473-b31ba08929c8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzR8fGRvbnV0fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60",
                imagesUrl: [
                  "https://images.unsplash.com/photo-1626094309830-abbb0c99da4a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2832&q=80",
                  "https://images.unsplash.com/photo-1559656914-a30970c1affd?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTY0fHxkb251dHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60",
                ],
              },
              {
                category: "蛋糕",
                content: "尺寸：6寸",
                description:
                  "蜜蜂蜜蛋糕，夾層夾上酸酸甜甜的檸檬餡，清爽可口的滋味讓人口水直流！",
                id: "-McJ-VvcwfN1_Ye_NtVA",
                is_enabled: 0,
                origin_price: 1000,
                price: 900,
                title: "蜂蜜檸檬蛋糕",
                unit: "個",
                num: 1,
                imageUrl:
                  "https://images.unsplash.com/photo-1627834377411-8da5f4f09de8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80",
                imagesUrl: [
                  "https://images.unsplash.com/photo-1618888007540-2bdead974bbb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=987&q=80",
                ],
              },
              {
                category: "蛋糕",
                content: "尺寸：6寸",
                description: "法式煎薄餅加上濃郁可可醬，呈現經典的美味及口感。",
                id: "-McJ-VyqaFlLzUMmpPpm",
                is_enabled: 1,
                origin_price: 700,
                price: 600,
                title: "暗黑千層",
                unit: "個",
                num: 15,
                imageUrl:
                  "https://images.unsplash.com/photo-1505253149613-112d21d9f6a9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDZ8fGNha2V8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60",
                imagesUrl: [
                  "https://images.unsplash.com/flagged/photo-1557234985-425e10c9d7f1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTA5fHxjYWtlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60",
                  "https://images.unsplash.com/photo-1540337706094-da10342c93d8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDR8fGNha2V8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60",
                ],
              },
            ],
            temp: {},
            showModal: false
          };
        },
        created() {
            this.products.forEach(product =>{
                product.isAvailable = false ;
            })
        },
        methods: {
          toggleModel() {
            this.showModal = !this.showModal;
            console.log(this.showModal);
          },
          openModal(product) {
            this.temp = product;
            this.showModal = !this.showModal;
          },
          changeAvailable(id) {
             this.products.forEach(item => {
                 if (item.id === id) {
                    item.isAvailable = !item.isAvailable
                 }
             })
          }
        },
      });
      app.mount("#app");
    </script>
  </body>
</html>
